// 系统界面配置
:root {
  --side-bar-bg-color #CCCCCE
  --side-bar-text-color #666668
  --control-bg-color #EEEEEE
  --control-text-color #48484C
}
// 变量设置
postWidth    = 800px //文章宽度
paddingWidth = 48px  //文章内补宽度
fontSize     = 18px  // 基础字体大小
EleMargin    = 1.8rem  // 文章内元素间距离
linkColor    = rgb(255, 90, 100)
// 基础元素设置
html
  body
    font-size fontSize
    font-family -apple-system, "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Lantinghei SC", "Source Han Sans", "Noto Sans CJK", sans-serif, Arial
    color rgb(51, 51, 51)
    line-height 1.6
    background-color #EEE
    // 文章内容区
    #write
      max-width postWidth
      margin paddingWidth auto
      padding paddingWidth paddingWidth*2
      background-color #FFF
      box-shadow 0 0 1px rgba(0, 0, 0, .1), 0 0 3px rgba(0, 0, 0, .1),0 0 6px rgba(0, 0, 0, .2), 0 0 12px rgba(0, 0, 0, .2)
      a
        color linkColor
      h1, h2, h3, h4, h5, h6
        position relative
        margin-top 1rem
        margin-bottom 1rem
        font-weight bold
        line-height 1.8
        cursor text
        &:hover a.anchor
          text-decoration none
        tt, code
          font-size inherit
      h1
        font-size 2.25rem
        text-align center
        border-bottom: 5px solid #CCC
      h2
        font-size 1.75rem
        border-bottom 1px solid #EEE
      h3
        font-size 1.5rem
      h4
        font-size 1.25rem
      h5
        font-size 1rem
      h6
        font-size 1rem
        color #777
      &>h3.md-focus:before
        left -1.5625rem
        top .375rem
      &>h4.md-focus:before
        left -1.5625rem
        top .285714286rem
      &>h5.md-focus:before
        left -1.5625rem
        top .285714286rem
      &>h6.md-focus:before
        left -1.5625rem
        top .285714286rem
      p, blockquote, ul, ol, dl, table
        margin EleMargin 0
        &>.md-image:only-child
          display block
          width calc(100% + 60px)
          position relative
          margin 0 -30px
        &>.md-image:only-child img
          border none
      &>p:first-child > .md-image:only-child
        margin-top calc(-30px - .8em)
      & > ul:first-child
      & > ol:first-child
        margin-top EleMargin
      ul,
      ol
        padding-left paddingWidth
        &:first-child,
        &:first-child 
          margin-top 0
        &:last-child,
        &:last-child
          margin-bottom 0
        li
          & > ol, & > ul
            margin 0 0
          p.first
            display inline-block
      hr
        height 2px
        padding 0
        margin EleMargin*0.8 0
        background-color #e7e7e7
        border 0 none
        overflow hidden
        box-sizing content-box
    blockquote
        border-left 4px solid #dfe2e5
        padding 0 paddingWidth/2
        color #777
      blockquote blockquote
        padding-right 0
      table
        padding 0
        word-break initial
        tr 
          border-top 1px solid #dfe2e5
          margin 0
          padding 0
          th
            font-weight bold
            border 1px solid #dfe2e5
            border-bottom 0
            text-align left
            margin 0
            padding 6px 13px
          td
            border 1px solid #dfe2e5
            text-align left
            margin 0
            padding 6px 13px
          th:first-child
          td:first-child
              margin-top 0
          th:last-child
          td:last-child
              margin-bottom 0
      table tr:nth-child(2n)
      thead
        background-color #f8f8f8
      .md-image > .md-meta
        border-radius 3px
        padding 2px 0px 0px 4px
        font-size 0.9rem
        color: inherit
      .md-tag
        color #a7a7a7
        opacity 1
      .md-toc
        margin-top 20px
        padding-bottom 20px
      .sidebar-tabs
        border-bottom none
      /* 代码块 */
      .CodeMirror-lines
        padding-left 4px
      .code-tooltip
        box-shadow 0 1px 1px 0 rgba(0,28,36,.3)
        border-top 1px solid #eef2f2
        color rgba(233, 237, 237, 1)
      .md-fences
      code
      tt
        border 1px solid #e7eaed
        background-color #f8f8f8
        border-radius 3px
        padding 0
        padding 2px 4px 0px 4px
        font-size 0.9rem
      code
        background-color #f3f4f4
        padding 0 4px 2px 4px
      .md-fences 
        background-color #263238
        margin EleMargin -paddingWidth
        padding EleMargin/2 paddingWidth
        &.md-fences-with-lineno
          padding-left paddingWidth
          padding-right paddingWidth
      pre.md-meta-block
        padding 1rem
        font-size 85%
        line-height 1.45
        background-color #f7f7f7
        border 0
        border-radius 3px
        color #777777
        margin-top 0 !important
      .mathjax-block > .code-tooltip
        bottom .375rem
      .md-mathjax-midline
        background #fafafa
      .md-task-list-item > input
        margin-left -1.3em

    #typora-quick-open
        border 1px solid #ddd
        background-color #f8f8f8
    #typora-quick-open-item
        background-color #FAFAFA
        border-color #FEFEFE #e5e5e5 #e5e5e5 #eee
        border-style solid
        border-width 1px
    
    /** focus mode */
    .on-focus-mode blockquote
      border-left-color rgba(85, 85, 85, 0.12)
    header, .context-menu, .megamenu-content, footer
      font-family "Segoe UI", "Arial", sans-serif
    .file-node-content:hover .file-node-icon,
    .file-node-content:hover .file-node-open-state
      visibility visible
    .mac-seamless-mode #typora-sidebar
      background-color #fafafa
      background-color var(--side-bar-bg-color)
    .md-lang
      color #b4654d
    .html-for-mac .context-menu
      --item-hover-bg-color #E6F0FE
    #md-notification .btn
      border 0
    .dropdown-menu .divider
      border-color #e5e5e5

@media print
  table
  pre
    page-break-inside avoid
  pre
    word-wrap break-word


/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/
html
  body
    #write
      .CodeMirror
        background-color #263238
        color rgba(233, 237, 237, 1)
          .CodeMirror-gutters
            background: #263238;
            color: rgb(83,127,126);
            border: none;
        .CodeMirror-guttermarker,
        .CodeMirror-guttermarker-subtle,
        .CodeMirror-linenumber { color: rgb(83,127,126); }
        .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
        div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
        .cm-s-material.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
        .CodeMirror-line::selection,
        .CodeMirror-line > span::selection,
        .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
        .CodeMirror-line::-moz-selection,
        .CodeMirror-line > span::-moz-selection,
        .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

        .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
        .cm-keyword { color: rgba(199, 146, 234, 1); }
        .cm-operator { color: rgba(233, 237, 237, 1); }
        .cm-variable-2 { color: #80CBC4; }
        .cm-variable-3,
        .cm-type { color: #82B1FF; }
        .cm-builtin { color: #DECB6B; }
        .cm-atom { color: #F77669; }
        .cm-number { color: #F77669; }
        .cm-def { color: rgba(233, 237, 237, 1); }
        .cm-string { color: #C3E88D; }
        .cm-string-2 { color: #80CBC4; }
        .cm-comment { color: #546E7A; }
        .cm-variable { color: #82B1FF; }
        .cm-tag { color: #80CBC4; }
        .cm-meta { color: #80CBC4; }
        .cm-attribute { color: #FFCB6B; }
        .cm-property { color: #80CBAE; }
        .cm-qualifier { color: #DECB6B; }
        .cm-variable-3,
        .cm-type { color: #DECB6B; }
        .cm-tag { color: rgba(255, 83, 112, 1); }
        .cm-error {
          color: rgba(255, 255, 255, 1.0);
          background-color: #EC5F67;
        }
        .CodeMirror-matchingbracket {
          text-decoration: underline;
          color: white !important;
        }
