:root {
  --side-bar-bg-color: #ccccce;
  --side-bar-text-color: #666668;
  --control-bg-color: #eee;
  --control-text-color: #48484c;
}
html body {
  font-size: 18px;
  font-family: -apple-system, "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Lantinghei SC", "Source Han Sans", "Noto Sans CJK", sans-serif, Arial;
  color: #333;
  line-height: 1.6;
  background-color: #eee;
/** focus mode */
}
html body #write {
  max-width: 800px;
  margin: 48px auto;
  padding: 48px 96px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.1), 0 0 6px rgba(0,0,0,0.2), 0 0 12px rgba(0,0,0,0.2);
}
html body #write a {
  color: #ff5a64;
}
html body #write h1,
html body #write h2,
html body #write h3,
html body #write h4,
html body #write h5,
html body #write h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.8;
  cursor: text;
}
html body #write h1:hover a.anchor,
html body #write h2:hover a.anchor,
html body #write h3:hover a.anchor,
html body #write h4:hover a.anchor,
html body #write h5:hover a.anchor,
html body #write h6:hover a.anchor {
  text-decoration: none;
}
html body #write h1 tt,
html body #write h2 tt,
html body #write h3 tt,
html body #write h4 tt,
html body #write h5 tt,
html body #write h6 tt,
html body #write h1 code,
html body #write h2 code,
html body #write h3 code,
html body #write h4 code,
html body #write h5 code,
html body #write h6 code {
  font-size: inherit;
}
html body #write h1 {
  font-size: 2.25rem;
  text-align: center;
  border-bottom: 5px solid #ccc;
}
html body #write h2 {
  font-size: 1.75rem;
  border-bottom: 1px solid #eee;
}
html body #write h3 {
  font-size: 1.5rem;
}
html body #write h4 {
  font-size: 1.25rem;
}
html body #write h5 {
  font-size: 1rem;
}
html body #write h6 {
  font-size: 1rem;
  color: #777;
}
html body #write>h3.md-focus:before {
  left: -1.5625rem;
  top: 0.375rem;
}
html body #write>h4.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
html body #write>h5.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
html body #write>h6.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
html body #write p,
html body #write blockquote,
html body #write ul,
html body #write ol,
html body #write dl,
html body #write table {
  margin: 1.8rem 0;
}
html body #write p>.md-image:only-child,
html body #write blockquote>.md-image:only-child,
html body #write ul>.md-image:only-child,
html body #write ol>.md-image:only-child,
html body #write dl>.md-image:only-child,
html body #write table>.md-image:only-child {
  display: block;
  width: calc(100% + 60px);
  position: relative;
  margin: 0 -30px;
}
html body #write p>.md-image:only-child img,
html body #write blockquote>.md-image:only-child img,
html body #write ul>.md-image:only-child img,
html body #write ol>.md-image:only-child img,
html body #write dl>.md-image:only-child img,
html body #write table>.md-image:only-child img {
  border: none;
}
html body #write>p:first-child > .md-image:only-child {
  margin-top: calc(-30px - 0.8em);
}
html body #write > ul:first-child,
html body #write > ol:first-child {
  margin-top: 1.8rem;
}
html body #write ul,
html body #write ol {
  padding-left: 48px;
}
html body #write ul:first-child,
html body #write ol:first-child {
  margin-top: 0;
}
html body #write ul:last-child,
html body #write ol:last-child {
  margin-bottom: 0;
}
html body #write ul li > ol,
html body #write ol li > ol,
html body #write ul li > ul,
html body #write ol li > ul {
  margin: 0 0;
}
html body #write ul li p.first,
html body #write ol li p.first {
  display: inline-block;
}
html body #write hr {
  height: 2px;
  padding: 0;
  margin: 1.44rem 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
html body blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 48px/2;
  color: #777;
}
html body blockquote blockquote {
  padding-right: 0;
}
html body table {
  padding: 0;
  word-break: initial;
}
html body table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
html body table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
html body table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
html body table tr th:first-child,
html body table tr td:first-child {
  margin-top: 0;
}
html body table tr th:last-child,
html body table tr td:last-child {
  margin-bottom: 0;
}
html body table tr:nth-child(2n) thead {
  background-color: #f8f8f8;
}
html body table tr:nth-child(2n) .md-image > .md-meta {
  border-radius: 3px;
  padding: 2px 0px 0px 4px;
  font-size: 0.9rem;
  color: inherit;
}
html body table tr:nth-child(2n) .md-tag {
  color: #a7a7a7;
  opacity: 1;
}
html body table tr:nth-child(2n) .md-toc {
  margin-top: 20px;
  padding-bottom: 20px;
}
html body table tr:nth-child(2n) .sidebar-tabs {
  border-bottom: none;
}
html body table tr:nth-child(2n) .CodeMirror-lines {
  padding-left: 4px;
}
html body table tr:nth-child(2n) .code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0,28,36,0.3);
  border-top: 1px solid #eef2f2;
  color: #e9eded;
}
html body table tr:nth-child(2n) .md-fences,
html body table tr:nth-child(2n) code,
html body table tr:nth-child(2n) tt {
  border: 1px solid #e7eaed;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9rem;
}
html body table tr:nth-child(2n) code {
  background-color: #f3f4f4;
  padding: 0 4px 2px 4px;
}
html body table tr:nth-child(2n) .md-fences {
  background-color: #263238;
  margin: 1.8rem -paddingWidth;
  padding: 1.8rem/2 48px;
}
html body table tr:nth-child(2n) .md-fences.md-fences-with-lineno {
  padding-left: 48px;
  padding-right: 48px;
}
html body table tr:nth-child(2n) pre.md-meta-block {
  padding: 1rem;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  color: #777;
  margin-top: 0 !important;
}
html body table tr:nth-child(2n) .mathjax-block > .code-tooltip {
  bottom: 0.375rem;
}
html body table tr:nth-child(2n) .md-mathjax-midline {
  background: #fafafa;
}
html body table tr:nth-child(2n) .md-task-list-item > input {
  margin-left: -1.3em;
}
html body #typora-quick-open {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
html body #typora-quick-open-item {
  background-color: #fafafa;
  border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
  border-style: solid;
  border-width: 1px;
}
html body .on-focus-mode blockquote {
  border-left-color: rgba(85,85,85,0.12);
}
html body header,
html body .context-menu,
html body .megamenu-content,
html body footer {
  font-family: "Segoe UI", "Arial", sans-serif;
}
html body .file-node-content:hover .file-node-icon,
html body .file-node-content:hover .file-node-open-state {
  visibility: visible;
}
html body .mac-seamless-mode #typora-sidebar {
  background-color: #fafafa;
  background-color: var(--side-bar-bg-color);
}
html body .md-lang {
  color: #b4654d;
}
html body .html-for-mac .context-menu {
  --item-hover-bg-color: #e6f0fe;
}
html body #md-notification .btn {
  border: 0;
}
html body .dropdown-menu .divider {
  border-color: #e5e5e5;
}
@media print {
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}
/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/
html body #write .CodeMirror {
  background-color: #263238;
}
html body #write .CodeMirror color rgba(233 .CodeMirror-gutters,
html body #write .CodeMirror 237 .CodeMirror-gutters,
html body #write .CodeMirror 1) .CodeMirror-gutters {
  background: #263238;
  color: #537f7e;
  border: none;
}
html body #write .CodeMirror .CodeMirror-guttermarker,
html body #write .CodeMirror .CodeMirror-guttermarker-subtle,
html body #write .CodeMirror .CodeMirror-linenumber {
  color: #537f7e;
}
html body #write .CodeMirror .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}
html body #write .CodeMirror div.CodeMirror-selected {
  background: rgba(255,255,255,0.15);
}
html body #write .CodeMirror .cm-s-material.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255,255,255,0.1);
}
html body #write .CodeMirror .CodeMirror-line::selection,
html body #write .CodeMirror .CodeMirror-line > span::selection,
html body #write .CodeMirror .CodeMirror-line > span > span::selection {
  background: rgba(255,255,255,0.1);
}
html body #write .CodeMirror .CodeMirror-line::-moz-selection,
html body #write .CodeMirror .CodeMirror-line > span::-moz-selection,
html body #write .CodeMirror .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255,255,255,0.1);
}
html body #write .CodeMirror .CodeMirror-activeline-background {
  background: rgba(0,0,0,0);
}
html body #write .CodeMirror .cm-keyword {
  color: #c792ea;
}
html body #write .CodeMirror .cm-operator {
  color: #e9eded;
}
html body #write .CodeMirror .cm-variable-2 {
  color: #80cbc4;
}
html body #write .CodeMirror .cm-variable-3,
html body #write .CodeMirror .cm-type {
  color: #82b1ff;
}
html body #write .CodeMirror .cm-builtin {
  color: #decb6b;
}
html body #write .CodeMirror .cm-atom {
  color: #f77669;
}
html body #write .CodeMirror .cm-number {
  color: #f77669;
}
html body #write .CodeMirror .cm-def {
  color: #e9eded;
}
html body #write .CodeMirror .cm-string {
  color: #c3e88d;
}
html body #write .CodeMirror .cm-string-2 {
  color: #80cbc4;
}
html body #write .CodeMirror .cm-comment {
  color: #546e7a;
}
html body #write .CodeMirror .cm-variable {
  color: #82b1ff;
}
html body #write .CodeMirror .cm-tag {
  color: #80cbc4;
}
html body #write .CodeMirror .cm-meta {
  color: #80cbc4;
}
html body #write .CodeMirror .cm-attribute {
  color: #ffcb6b;
}
html body #write .CodeMirror .cm-property {
  color: #80cbae;
}
html body #write .CodeMirror .cm-qualifier {
  color: #decb6b;
}
html body #write .CodeMirror .cm-variable-3,
html body #write .CodeMirror .cm-type {
  color: #decb6b;
}
html body #write .CodeMirror .cm-tag {
  color: #ff5370;
}
html body #write .CodeMirror .cm-error {
  color: #fff;
  background-color: #ec5f67;
}
html body #write .CodeMirror .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #fff !important;
}
